@*
    Vista amministratore
*@


@model List<Videogioco>

<div class="container">

    <div class="dropdown mt-5">
        <a class="btn dropdown-toggle text-light" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Categorie
        </a>
                                
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item">Tutte</a></li>
            @foreach(Videogioco videogioco in Model)
            {
                <li class="dropdown-item" onclick="cerca">@videogioco.Categoria.Tema</li>
            }
        </ul>
    </div>

    <table class="table align-middle " style="color: #ecf9fc">
        <thead>
            <tr>
                <th scope="col">Titolo</th>
                <th scope="col">Categoria</th>
                <th scope="col">Descrizione</th>
                <th scope="col">Prezzo</th>
                <th scope="col" class="text-center">Disponibilità</th>
                <th scope="col" class="text-center">
                    <a class="btn steam-button" href="@Url.Action("Crea", "Admin")">
                        Aggiungi Videogioco
                        </a>
                </th>
            </tr>
        </thead>
        <tbody>
            
            @foreach(Videogioco videogioco in Model)
            {          
                <tr>
                    <th class="align-middle">@videogioco.Nome</th> <!--th embolded-->
                    <td class="align-middle">@videogioco.Categoria.Tema</td>
                    <td class="align-middle resizable-description">
                        <details>
                          <summary>Descrizione estesa del prodotto:</summary>
                          <div class="backgroundDetail">
                              <span>@videogioco.Descrizione</span>
                          </div>
                        </details>
                    </td>
                    <td class="align-middle">&euro;@videogioco.Prezzo</td>
                    <td class="align-middle text-center">@videogioco.GetDisponibilità()</td>
                    <td class="align-middle text-center">
                            <a class="btn btn-sm" href="@Url.Action("Dettagli", "Admin", new{id = videogioco.Id})">
                            <img src="~/img/opzioni.png" width="20" height="20" alt="Dettagli">
                            </a>
                        <a class="btn btn-sm" href="@Url.Action("Aggiorna", "Admin", new{id = videogioco.Id})">
                        <img src="~/img/modifica.png" width="20" height="20" alt="Dettagli">
                        </a>
                        <form action="@Url.Action("Cancella", "Admin", new{id = videogioco.Id})" method="post" style="display: inline">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-sm">
                                <img src="~/img/delete.png" width="20" height="20" alt="Elimina">
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script type="text/javascript">
        document.getElementById('search_input').classList.add('d-none');
    </script>
}
