@*
    Vista dettaglio videogioco lato cliente
*@

@model OrdineVideogioco

<div class="container shadow">
    <div class="row mt-5">
        <div class="col-6 mx-auto">
            <div class="card box-shadow bg-body my-5">
                <img src="@Model.videogioco.Foto" class="card-img-top h-100" alt="@Model.videogioco.Nome" class="card-img-top">
            </div>
        </div>

        <div class="col-6 mx-auto my-auto">
            <h1 class="text-light text-center my-3 py-2">@Model.videogioco.Nome</h1>
            <div class="row mt-3">
                <div class="col-12 mx-auto my-2">
                    <h3 class="text-light">Descrizione:</h3>
                    <p class="text-light my-2 py-3">@Model.videogioco.Descrizione</p>
                </div>
            </div>

            <p class="text-white border rounded text-center my-3 py-2">Prezzo: @Model.videogioco.Prezzo €</p>

            @if (@Model.videogioco.GetDisponibilità() > 0 && @Model.videogioco.GetDisponibilità() <= 5)
            {
                <p class="text-danger text-center">Copie del videogioco in esaurimento: @Model.videogioco.GetDisponibilità() rimanenti</p>
            } else if (@Model.videogioco.GetDisponibilità() <= 0)
            {
                <p class="text-danger text-center">Esaurito, riceverete il videogioco non appena sarà disponibile.</p>
            } else
            {
                <p class="text-light text-center">Rimanenti: @Model.videogioco.GetDisponibilità()</p>
            }
            
            <!-- Form ordine cliente -->
            <form action="@Url.Action("CompraVideogioco", "Home", new{id = Model.videogioco.Id})" method="post">
                @Html.AntiForgeryToken()

                <div class="form-group text-white my-1">
                    <label for="Quantità">Quantità: </label>
                    <input asp-for="ordine.Quantità" min="0" class="d-block w-100">
                    <span asp-validation-for="ordine.Quantità" class="text-danger"></span>
                </div>

                <div class="text-center">
                    <input type="submit" class="btn btn-success my-3" value="Acquista">
                </div>
            </form>
         </div>
    </div>
</div>